@import url(//fonts.googleapis.com/css?family=Inconsolata|Adobe+Blank);

.search-input-label {
  width: 100%;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text--center {
  text-align: center;
}

.gridify--full {
  grid-column: 1/-1;
}

.row {
  border-top: 1px solid rgba(0 0 0 / .12);
  min-height: 56px;
}

.row:hover {
  background: rgba(0 0 0 / .04);
}

.cell {
  -webkit-font-smoothing: antialiased;
  align-self: center;
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-body2-font-family);
  font-size: 14px;
  font-weight: var(--mdc-typography-body2-font-weight);
  line-height: var(--mdc-typography-body2-line-height);
  letter-spacing: var(--mdc-typography-body2-letter-spacing);
  padding-right: 16px;
  padding-left: 16px;
}

.cell--api-header {
  display: grid;
  grid-column: 1/-3;
  padding: 0;
  text-align: center;
}

.cell--api-level {
  grid-column: 1/-1;
  padding: 8px 0 0;
}

.cell--header {
  align-items: center;
  display: flex;
  height: 56px;
}

.cell--codepoints {
  color: #000;
  font-family: Inconsolata;
  font-size: 16px;
}

.emoji {
  font-size: 2.8rem;
  padding: 0;
  text-align: center;
}
