<!DOCTYPE html>
<html>
<head>
  <style>
  @import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Adobe+Blank);
  body {
    font-family: 'Inconsolata', sans-serif;
    margin: 1em;
  }
  h1 {
    font-size: 2em;
  }
  #search_input {
    width: 100%;
    font-size: 1.5em;
  }

  .emoji {
    font-size: 3em;
  }

  #head_api_level {
    grid-column: 1/-3;
  }
  .rowhead {
    padding: 0.2em;
  }
  .rowhead:nth-child(even) {
    background-color: #F0F0F0;
  }
  .rowhead:nth-child(odd) {
    background-color: #D8D8D8;
  }
  </style>
  <style id="dynamic_styles"></style>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
    <h1>Android Fonts</h1>
    <div>
      <a href="/">History</a>
      |
      Emoji
    </div>
    <div class="header">
      <input type="text" required="" name="s" id="search_input"
             placeholder="Search, e.g. u:263A emoji:10 api:22..28 note:&quot;wrestler&quot;"
             value="">
    </div>
    <div v-if="all.length > 0">
      {{ matches.length }} / {{ all.length }} sequences match.
    </div>
    <div id="results"
         v-if="matches.length > 0">
      <template>
        <span class="rowhead" id="head_api_level">Android API Level</span>
        <span class="rowhead">Codepoints</span>
        <span class="rowhead">Notes</span>
      </template>
      
      <template v-for="api_level in visible_apis">
        <span>{{ api_level }}</span>
      </template>
      <template>
        <span></span>
        <span></span>
      </template>

      <template v-for="match in matches">
        <template v-for="api_level in visible_apis">
          <span v-if="isin(api_level, match.api_support)"
                v-bind:class="emoji_css_class(api_level, match.api_support)"
                v-html="emoji_html(match.codepoints)"></span>
          <span v-else
                class="emoji"
                v-html="emoji_missing_html()"/>
        </template>
        <span v-html="codepoint_html(match.codepoints)"></span>
        <span>
          {{ match.notes }}
        </span>
      </template>
    </div>
  </div>

  <script src="scripts.js"></script>
  <script>
    let vm = emojiVue();
    (function() {
      let search = document.getElementById('search_input');
      search.addEventListener('input', queueEmojiSearch)

      search.value = new URLSearchParams(window.location.search).get('q');
      let inputEvent = new Event('input');
      search.dispatchEvent(inputEvent);
    })();
  </script>
</body>
</html>
